{% load static %}
<html>
    <head>
        <title>SHARE SITE</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div>
            <h1><a href="/">SHARE SITE</a></h1>
            <a href="{% url 'give_new' %}"><span class="glyphicon glyphicon-leaf"></span></a>
            <a href="{% url 'want_new' %}"><span class="glyphicon glyphicon-eye-open"></span></a>
            <a href="{% url 'profile_new' %}"><span class="glyphicon glyphicon-user"></span></a>
        
        </div>
        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_logout' %}">Log Out</a>
              </li>
            {% else %}
              <li class="nav-item {% block active_signup %}{% endblock %}">
                  <a class="nav-link" href="{% url 'account_signup' %}">Sign Up</a>
              </li>
              <li class="nav-item {% block active_login %}{% endblock %}">
                  <a class="nav-link" href="{% url 'account_login' %}">Log In</a>
              </li>
            {% endif %}
        </ul>
        <div>
            <div>
                <div>
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>