{% extends 'sharesite/base.html' %}

{% block content %}
<div class="text-center">
    <h2 class="body-title" style="font-weight:bold;">あげるを投稿する</h2>
</div>
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-outline-default waves-effect sub-button" style="font-size: 20px;" type="submit">作成</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}