{% extends 'sharesite/base.html' %}

{% block content %}

<form action="/give" method="post">
 <ul>
  <li>
    <label for="name">物品名:</label>
    <input type="text" id="name" name="give_name">
  </li>
  <li>
    <label for="msg">物品説明:</label>
    <textarea id="msg" name="give_explanation"></textarea>
  </li>
  <li>
    <label for="msg">あげたい理由:</label>
    <textarea id="msg" name="give_message"></textarea>
  </li>
  <li>
    <label for="msg">引き渡し情報:</label>
    <textarea id="msg" name="give_information"></textarea>
  </li>
 </ul>
</form>

{% endblock %}