{% extends 'sharesite/base.html' %}

{% block content %}
<div class="post_list">
<div class="button_erea">
<button class="btn  btn-outline-success waves-effect button_per top-button-left"><a class="" href="{% url 'want_list' %}">ほしいです！</a></button>
<button class="btn  btn-outline-info waves-effect button_per top-button-right"><a class="" href="{% url 'give_list' %}">あげます！</a></button>
</div>
<div class="top-emr-mes text-center">
  <h2>すぐに欲しい人が待っています！</h2>
  <br>
  <h2 class="fuwafuwa">↓ ↓ ↓</h2>

</div>
</div>

<div class="row">
    {% for want in want_list %}
    {% if want.emergency_attribute == "1" %}
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="view overlay rounded z-depth-1">
        {% if want.photo %}
        <img src="{{ want.photo.url }}" alt="No Photo" width="469.73" height="300">
        {% else %}
        <img src="#" alt="No photo" width="469.73" height="300">
        {% endif %}
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="px-3 pt-3 mx-1 mt-1 pb-0 red-bg emr-bg">
        <h4 class="font-weight-bold mt-1 mb-3"><a href="{% url 'want_detail' pk=want.pk %}" class="body-title">{{ want.want_name }}</a></h4>
        <p class="text-muted body-text" >ほしい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
        <p class="body-text text-muted">投稿者：{{ want.author }}</p>
        <p class="body-text text-muted">緊急度：{{ want.get_emergency_attribute_display }}</p>
        <div class="view-detail">
        <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i>詳細を見る</a>
      </div>
      <div class="comment-detail">
        <a href="{% url 'want_detail' pk=want.pk %}"class="body-text">コメント: {{ want.want_comments.count }}件</a>
      </div>
      </div>
    </div>
    <!-- Grid column -->
    {% elif want.emergency_attribute == "2" %}
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="view overlay rounded z-depth-1">
        {% if want.photo %}
        <img src="{{ want.photo.url }}" alt="Sample project image" width="469.73" height="300">
        {% else %}
        <img src="#" alt="No photo" width="469.73" height="300">
        {% endif %}
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="px-3 pt-3 mx-1 mt-1 pb-0 blue-bg emr-bg">
        <h4 class="font-weight-bold mt-1 mb-3"><a href="{% url 'want_detail' pk=want.pk %}" class="body-title">{{ want.want_name }}</a></h4>
        <p class="text-muted body-text" >欲しい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
        <p class="text-muted">投稿者：{{ want.author }}</p>
        <p class="text-muted">緊急度：{{ want.get_emergency_attribute_display }}</p>
        <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i>詳細を見る</a>
        <a href="{% url 'want_detail' pk=want.pk %}"class="body-text">コメント: {{ want.want_comments.count }}件</a>
      </div>
    </div>
    <!-- Grid column -->
    {% else %}
    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-4">
      <div class="view overlay rounded z-depth-1">
        {% if want.photo %}
        <img src="{{ want.photo.url }}" alt="Sample project image" width="469.73" height="300">
        {% else %}
        <img src="#" alt="No photo" width="469.73" height="300">
        {% endif %}
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="px-3 pt-3 mx-1 mt-1 pb-0 green-bg emr-bg">
        <h4 class="font-weight-bold mt-1 mb-3"><a href="{% url 'want_detail' pk=want.pk %}" class="body-title">{{ want.want_name }}</a></h4>
        <p class="text-muted body-text" >欲しい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
        <p class="text-muted">投稿者：{{ want.author }}</p>
        <p class="text-muted">緊急度：{{ want.get_emergency_attribute_display }}</p>
        <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i>詳細を見る</a>
        <a href="{% url 'want_detail' pk=want.pk %}"class="body-text">コメント: {{ want.want_comments.count }}件</a>
      </div>
    </div>
    <!-- Grid column -->
    {% endif %}
    {% endfor %}
  </div>
  {% if is_paginated %}
  <div class="pagination-container">
  <ul class="pagination">
  
      {% if page_obj.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                  <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
      {% endif %}

  
      {% for page_num in page_obj.paginator.page_range %}
          {% if page_obj.number == page_num %}
              <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
          {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
          {% endif %}
      {% endfor %}

  
      {% if page_obj.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  <span aria-hidden="true">&raquo;</span>
              </a>
          </li>
      {% endif %}
  </ul>
</div>
　　{% endif %}
{% endblock %}
