{% extends 'sharesite/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
      <h3 class="font-weight-bold mb-4 pb-2 list-title">プロフィールリスト</h3>
      <p class="text-muted w-responsive mx-auto mb-5">社員のプロフィール一覧です。</p>
      <!-- Grid row -->
      <div class="row">
        {% for profile in profile_list %}
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view overlay rounded z-depth-1">
            {% if profile.photo %}
            <img src="{{ profile.photo.url }}" width="469.73" height="300" alt="No photo">
            {% else %}
            <img src="#" alt="No photo" width="400" height="300">
            {% endif %}
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="px-3 pt-3 mx-1 mt-1 pb-0">
            <h4 class="font-weight-bold mt-1 mb-3"><a class="body-title" href="{% url 'profile_detail' pk=profile.pk %}">{{ profile.name }}</a></h4>
            <p class="text-muted">{{ profile.mail_adress|linebreaksbr }}</p>
            <div class="view-detail">
            <a href="{% url 'profile_detail' pk=profile.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i> 詳細を見る</a>
          </div>
          <div class="comment-detail">
            <a href="{% url 'profile_detail' pk=profile.pk %}"><br>コメント: {{ profile.profile_comments.count }}件</a>
          </div>
          </div>
        </div>
        <!-- Grid column -->
        {% endfor %}
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
    {% if is_paginated %}
    <div class="pagination-container">
    <ul class="pagination">
    
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

    
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}

    
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
　　{% endif %}
{% endblock %}