{% extends 'base.html' %}
{% load static %}

{% block title %}投稿編集 |Sharesite{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style w-100">
            <form method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <table class="table">
                    {{ form.as_table }}
                </table>
                <button class="btn btn-outline-default waves-effect sub-button" style="font-size: 24px;" type="submit">更新</button>
                <a class="btn btn-outline-info waves-effect sub-button" style="font-size: 24px;" href="{% url 'profile_detail' object.pk %}">戻る</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}