{% extends 'sharesite/base.html' %}
{% load static %}


{% block content %}
<div class="container">
    <div class="my-div-style w-100">
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>商品名</strong>
            </div>
            <div class="col-9">
                {{ object.want_name|linebreaksbr }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>投稿者</strong>
            </div>
            <div class="col-9">
                {{ object.author }}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-3">
                <strong>お急ぎ度</strong>
            </div>
            <div class="col-9">
                {{ object.get_emergency_attribute_display }}
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-3">
                <strong>商品詳細情報</strong>
            </div>
            <div class="col-9">
                {{ object.want_information|linebreaksbr }}
            </div>
        </div>

        <hr>
        
        <div class="row">
            <div class="col-3">
                <strong>欲しい理由</strong>
            </div>
            <div class="col-9">
                {{ object.want_reason|linebreaksbr }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>写真</strong>
            </div>
            <div class="col-3">
                {% if object.photo %}
                    <img src="{{ object.photo.url }}" width="200" height="200"/>
                {% endif %}
            </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>作成日時</strong>
            </div>
            <div class="col-9">
                {{ object.register_date }}
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3">
                <strong>更新日時</strong>
            </div>
            <div class="col-9">
                {{ object.final_update_time }}
            </div>
        </div>


    </div>
</div>
<hr>
<a class="btn btn-outline-danger waves-effect sub-button" style="font-size: 20px;padding: 2px;" href="{% url 'add_comment_to_want' pk=want.pk %}">コメントする</a>
{% for comment in want.want_comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}
            {% if not comment.approved_comment %}
                <a class="btn btn-outline-warning waves-effect sub-button" style="font-size: 20px;padding: 2px;" href="{% url 'want_comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            {% endif %}
        </div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>コメントはまだありません</p>
{% endfor %}
<a class="btn btn-outline-default waves-effect sub-button" style="font-size: 24px;" href="{% url 'want_update' object.pk %}">編集</a>
<a class="btn btn-outline-info waves-effect sub-button" style="font-size: 24px;" href="{% url 'want_delete' object.pk %}">削除</a>
{% endblock %}