{% extends 'sharesite/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
    <!-- Section: Block Content -->
    <section class="dark-grey-text text-center">
      <h3 class="font-weight-bold mb-4 pb-2 list-title">ほしいリスト</h3>
      <p class="text-muted w-responsive mx-auto mb-5">みんなの今ほしいものが載っています。<br>あげられるものがあればコメントしてみましょう！</p>
      <!-- Grid row -->
      <div class="row">
        {% for want in want_list %}
        {% if want.emergency_attribute == "1" %}
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view overlay rounded z-depth-1">
            {% if want.photo %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img src="{{ want.photo.url }}"  alt="No photo" width="469.73" height="300"></a>
            {% else %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img src="#" alt="No photo" width="469.73" height="300"></a>
            {% endif %}
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="px-3 pt-3 mx-1 mt-1 pb-0 red-bg emr-bg">
            <h4 class="font-weight-bold mt-1 mb-3"><a class="body-title" href="{% url 'want_detail' pk=want.pk %}">{{ want.want_name }}</a></h4>
            <p class="text-muted body-text text-left">ほしい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
            <p class="text-muted body-text text-left">投稿者：{{ want.author }}</p>
            <p class="text-muted body-text text-left">緊急度：{{ want.get_emergency_attribute_display }}</p>
            <div class="view-detail">
            <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i> View Detail</a>
          </div>
          <div class="comment-detail">
            <a href="{% url 'want_detail' pk=want.pk %}">コメント: {{ want.want_comments.count }}件</a>
          </div>
          </div>
        </div>
        <!-- Grid column -->
        {% elif want.emergency_attribute == "2" %}
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4 ">
          <div class="view overlay rounded z-depth-1">
            {% if want.photo %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img src="{{ want.photo.url }}"  alt="No photo" width="469.73" height="300"></a>
            {% else %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img  src="#" alt="No photo" width="469.73" height="300"></a>
            {% endif %}
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="px-3 pt-3 mx-1 mt-1 pb-0 blue-bg emr-bg">
            <h4 class="font-weight-bold mt-1 mb-3"><a class="body-title" href="{% url 'want_detail' pk=want.pk %}">{{ want.want_name }}</a></h4>
            <p class="text-muted body-text text-left">ほしい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
            <p class="text-muted body-text text-left">投稿者：{{ want.author }}</p>
            <p class="text-muted body-text text-left">緊急度：{{ want.get_emergency_attribute_display }}</p>
            <div class="view-detail">
            <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i> View Detail</a>
          </div>
          <div class="comment-detail">
            <a href="{% url 'want_detail' pk=want.pk %}">コメント: {{ want.want_comments.count }}件</a>
          </div>
          </div>
        </div>
        <!-- Grid column -->
        {% else %}
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="view overlay rounded z-depth-1">
            {% if want.photo %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img src="{{ want.photo.url }}"  alt="No photo" width="469.73" height="300"></a>
            {% else %}
            <a href="{% url 'want_detail' pk=want.pk %}"><img src="#" alt="No photo" width="469.73" height="300"></a>
            {% endif %}
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <div class="px-3 pt-3 mx-1 mt-1 pb-0 green-bg emr-bg">
            <h4 class="font-weight-bold mt-1 mb-3"><a class="body-title" href="{% url 'want_detail' pk=want.pk %}">{{ want.want_name }}</a></h4>
            <p class="text-muted body-text text-left">ほしい理由：<br>{{ want.want_reason|truncatechars:50 }}<a class="read-more" href="{% url 'want_detail' pk=want.pk %}">  >>続きを読む</a></p>
            <p class="text-muted body-text text-left">投稿者：{{ want.author }}</p>
            <p class="text-muted body-text text-left">緊急度：{{ want.get_emergency_attribute_display }}</p>
            <div class="view-detail">
            <a href="{% url 'want_detail' pk=want.pk %}" class="btn btn-outline-default waves-effect"><i class="fas fa-clone left"></i> View Detail</a>
          </div>
          <div class="comment-detail">
            <a class="body-text" href="{% url 'want_detail' pk=want.pk %}">コメント: {{ want.want_comments.count }}件</a>
          </div>
          </div>
        </div>
        <!-- Grid column -->
        {% endif %}
        {% endfor %}
      </div>
      <!-- Grid row -->
    </section>
    <!-- Section: Block Content -->
  </div>
    {% if is_paginated %}
    <div class="pagination-container">
    <ul class="pagination">
    
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

    
        {% for page_num in page_obj.paginator.page_range %}
            {% if page_obj.number == page_num %}
                <li class="page-item active"><a class="page-link" href="#">{{ page_num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
            {% endif %}
        {% endfor %}

    
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
    </ul>
  </div>
　　{% endif %}
{% endblock %}