{% extends 'sharesite/base.html' %}

{% block title %}パスワードリセット | Sharesite{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>{% if token_fail %}不正トークン{% else %}パスワードリセット{% endif %}</h1>

            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p>このパスワードリセット用リンクは無効になっています。 <a href="{{ passwd_reset_url }}">パスワードリセット再申請</a></p>
            {% else %}
                {% if form %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <h3>※パスワードは大文字・小文字・数字を用いて8文字以上となるように設定してください。</h3>
                        <h4>また、数字だけのパスワードを設定することはできません。</h4>
                        <button class="btn btn-primary" type="submit">変更</button>
                    </form>
                {% else %}
                    <p>パスワードは変更されています。</p>
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>
<style>.account-form{
    margin-left: 28%;
  }
  
  .account-field {
    float: center;
    margin-top: 30px;
  
  }

  h3{
      text-align: center;
      margin-top: 10px;
      font-size: 15px;
  }

  h4{
      text-align: center;
      margin-top: 10px;
      margin-right: 175px;
      font-size: 15px;
  }

  p{
      margin-top: 30px;
  }

  input {
    border:none;
    font-size: 60%;
    padding-top:25px;
    padding-bottom: 0px;
    border-bottom: 1px solid #ff7700;
    outline: none;
    font: 800;
  
  }
  
  .last-field input {
    margin-top: 15px;
    width: 30px;
  }
  
  .non-last-field input {
    width: 300px;
  }
  
  .login-maintain {
    font-size: 14px;
  }
  .account-helptext {
    margin-left: 50px;
    list-style: none;
    font-size:14px;
    color: red;
  }
  
  .non-field-error {
    margin-left: 20%;
    color: red;
    font-size: 20px;
  }
  
  .password-reset {
    margin-left: 25%;
    margin-top:10px;
    font-size: 16px;
  
  }
  
  .account-grid{
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 200px, 200px;
    justify-content: space-evenly;
    
  }
  
  .form-submit {
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: center;
    font-size: 20px;
    padding: 2px 20px;
    margin: 50px 0;
    border-radius: 30px;
    border-color: #ff7700;
    color: #ffffff;
    background-color: #ff7700;
    border: 1px solid #ff7700;
    
  }
  
  .form-submit:hover,
  .form-submit:active{
  
    background-color: #e05a00;
    color: #ffffff;
    transform: scale(1.1)
  }
  
  .btn-account:link,
  .btn-account:visited{
    grid-row: 1/2;
    grid-column: 2/3;
    align-self: center;
    font-size: 20px;
    padding: 2px 20px;
    margin: 50px 0;
    background-color: #ffffff;
    border: 1px solid #ff7700;
    color: #ff7700;
  }
  
  
  .btn-account:hover,
  .btn-account:active {
    background-color: #ff7700;
    color: #ffffff;
    transform: scale(1.1)
  }
  
  
  .btn{
    width: 100px;
    height: 70px;
    font-size: 20px;
    border-radius: 10%;
    margin-top: 50px;
}

 .btn:hover{
    opacity: 0.8;


{% endblock %}