{% extends 'sharesite/base.html' %}

{% block title %}Password reset done | Sharesite{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="my-div-style">
            <h1>パスワードリセット</h1>

            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>パスワードを再設定するためのメールを送信しました。<br>メールに記載されたリンクをクリックしてパスワードを再登録してください。</p>
        </div>
    </div>
</div>
<style>
    h1{
        text-align: center;
        font-size: 35px;
        margin-left: 20px;
    }

    p{
        text-align: center;
        margin-top: 30px;
        margin-left: 120px;
        margin-right: 100px;
    }


</style>
{% endblock %}
