@charset "utf-8";
body{
    font-family:'ãƒ¡ã‚¤ãƒªã‚ª', 'Meiryo', sans-serif;
    background-color: #F5F5F5;
    font-size:24px!important;
    position: relative;
  }
  img{
    object-fit: contain!important; object-position:center!important;
  }

.header-title {
    line-height: 44px;
    font-size: 30px;
}

.navbar{
    height: 100px;
}

.nav-link{
  font-size:16px!important;
  font-weight:bold;
}

.footer{
    padding:40px 40px;
    position: absolute;
    bottom: -130px; 
    width:100%;
    background-color: #2bbbad;
}



.footer-text{
    color:white;
    font-size: 18pt;
        }
.pagination-container{
    display: flex;
    justify-content: center;
}

.pagination {
    text-align: center;
}
.page-item {
    display: inline-block;
}

.post_list{
  height: 100%;
  background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png');
  background-position: center;
  background-size: cover;
}

.button_erea{
  display: flex;
  justify-content: center;
  width:80%;
  margin:0 auto;
  padding:15% 0px;
}

.button_erea > .btn,.button_erea > .btn:hover{
  background-color:white!important;
  width:300px;
  height:150px;
  border-radius:50%;
}

.button_per{
    display: block;
    width: 200px;
    margin: 0 150px!important;
    height:100px;
}

.button_per > a,.button_per > a :hover {
  font-size:34px;
  font-weight:bold;
}

.button_erea > .btn-outline-info > a,.button_erea >.btn-outline-info > a:hover{color:#33b5e5!important;}
.button_erea > .btn-outline-success > a,.button_erea > .btn-outline-success > a:hover{color:#00c851 !important;}

.emr-bg{
  border-radius: 5%;
}

.red-bg{
  background-color: #ffebee;
}

.blue-bg{
  background-color: #e3f2fd;
}

.green-bg{
  background-color: #e8f5e9;
}


.row{
  margin: 50px 10px!important;
}

.navbar-nav > li{
  background-color:#55c8bd;
  border-radius:5px;
  margin-right:10px;
  padding:0 10px;
}

.navbar-nav > li:hover{
  background-color:#7fd6cd;
  -moz-opacity: 0.8;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border-radius:5px;
  margin-right:10px;
  padding:0 10px;
  
}

.header-title{
  letter-spacing:8px;
}

.body-title{
  font-size: 24px;
}

.body-text{
  font-size: 18px;
}

.fuwafuwa{
-webkit-animation:fuwafuwa 3s infinite linear alternate;
animation:fuwafuwa 3s infinite linear alternate;
}

@-webkit-keyframes fuwafuwa {
0% {-webkit-transform:translate(0, 0) rotate(-1deg);}
50% {-webkit-transform:translate(0, -2px) rotate(0deg);}
100% {-webkit-transform:translate(0, 0)rotate(1deg);}
}

@keyframes fuwafuwa {
0% {transform:translate(0, 0) rotate(-1deg);}
50% {transform:translate(0, -2px) rotate(0deg);}
100% {transform:translate(0, 0)rotate(1deg);}
}

.view-detail{
  text-align: center;
}

.view-detail{
  text-align: center;
}
.view-detail a{
  text-align: center;
  display:block;
  padding:30px;
  font-size:20px;
}

.comment-detail{
  text-align: right;
}

.list-title{
  font-size: 36px;
}
label{
  font-size:20px;
}

.sub-button{
  height:60px;
  width:100px;


.account-form{
  margin-left: 25%;
}

.account-field {
  float: center;
  margin-top: 30px;

}

input {
  border:none;
  font-size: 60%;
  padding-top:25px;
  padding-bottom: 0px;
  border-bottom: 1px solid #ff7700;
  outline: none;
  font: 800;

}

.last-field input {
  margin-top: 15px;
  width: 30px;
}

.non-last-field input {
  width: 300px;
}

.login-maintain {
  font-size: 14px;
}
.account-helptext {
  margin-left: 50px;
  list-style: none;
  font-size:14px;
  color: red;
}

.non-field-error {
  margin-left: 20%;
  color: red;
  font-size: 20px;
}

.password-reset {
  margin-left: 25%;
  margin-top:10px;
  font-size: 16px;

}

.account-grid{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 200px, 200px;
  justify-content: space-evenly;
  
}

.form-submit {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  font-size: 20px;
  padding: 2px 20px;
  margin: 50px 0;
  border-radius: 30px;
  border-color: #ff7700;
  color: #ffffff;
  background-color: #ff7700;
  border: 1px solid #ff7700;
  
}

.form-submit:hover,
.form-submit:active{

  background-color: #e05a00;
  color: #ffffff;
  transform: scale(1.1)
}

.btn-account:link,
.btn-account:visited{
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: center;
  font-size: 20px;
  padding: 2px 20px;
  margin: 50px 0;
  background-color: #ffffff;
  border: 1px solid #ff7700;
  color: #ff7700;
}


.btn-account:hover,
.btn-account:active {
  background-color: #ff7700;
  color: #ffffff;
  transform: scale(1.1)
}

.logo h1{
  font-family: 'Vidaloka', serif;
  text-align:center;
  font-weight:normal;
  color:rgb(245, 149, 40);
}
.maintitle{
  display:block;
  font-size:40px;
  letter-spacing:-１px;
  text-shadow:1px 1px 3px #888;
}
.description{
  display:block;
  font-size:15px;
  letter-spacing:1px;
  text-shadow:1px 1px 3px #888;
}

.site-header {
  width: 100%;
  height: auto;
}

nav .nav-item:hover{
  border-bottom: 2px solid rgb(245, 149, 40);
}

nav .dropdown-item:hover{
  border-bottom: 2px solid rgb(245, 149, 40);
}

.container h2{
  font-size: 30px;
  text-align: center;
}

.container p{
  font-size: 20px;
  text-align: center;
}